@{
    ViewData["Title"] = "Home Page";
}

<company name="Microsoft">
    <employee name="Taylor Mullen"
              title="Software Engineer II">
    </employee>
    <employee name="Damian Edwards"
              title="Principal Program Manager">
    </employee>
    <employee name="Eilon Lipton"
              title="Principal Group Manager">
    </employee>
</company>

<company name="Google">
    <employee name="Larry Page"
              title="Engineer Inventor">
    </employee>
    <employee name="Sergey Brin"
              title="Computer Scientist">
    </employee>
</company>












@*@{
        List<Speaker> speakers = new List<Speaker>
    {
            new Speaker
            {
                SpeakerId = 1124,
                UserFirstName = "Douglas",
                UserLastName = "Crockford",
                TrackName = "JavaScript",
                Company = "PayPal"
            },
            new Speaker
            {
                SpeakerId = 823,
                UserFirstName = "Kevin",
                UserLastName = "Nilson",
                TrackName = "JavaScript",
                Company = "Google"
            },
            new Speaker
            {
                SpeakerId = 6548,
                UserFirstName = "Steve",
                UserLastName = "Souders",
                TrackName = "JavaScript",
                Company = "SpeedCurver"
            }
        };
    }*@


@*<div class="container">
        <speaker-track track-name="JavaScript">
            @await Component.InvokeAsync("SpeakerCard", speakers[0])
            @await Component.InvokeAsync("SpeakerCard", speakers[1])
            @await Component.InvokeAsync("SpeakerCard", speakers[2])
        </speaker-track>
    </div>*@


@*<div class="container">
        <speaker-track track-name="JavaScript">
            <vc:speaker-card speaker=@speakers[0]></vc:speaker-card>
            <vc:speaker-card speaker=@speakers[1]></vc:speaker-card>
            <vc:speaker-card speaker=@speakers[2]></vc:speaker-card>
        </speaker-track>
    </div>*@


@*<speaker-card speaker="@speakers[0]"></speaker-card>*@