@using WebAppTagHelper.Models
@using WebAppTagHelper.TagHelpers
@{
    ViewData["Title"] =
        "Tag Helper Simple Example";
}

<div class="container">
    <img src="images/high-tech.png"
         asp-append-version="true"
         alt="High Tech" />
    
    

</div>
