@model List<WebAppTagHelper.Models.Speaker>

<div class="jumbotron">
    <div class="row">
        <div class="col-12 col-sm-8 text-lg-left">
            <div><img alt="svcc" src='SVCClogo.png'></div>
            <h2>Silicon Valley Code Camp 2018</h2>
        </div>
        <div class="col-12 col-sm-4 text-center">
            <h6 class="text-uppercase">October 13-14 2018</h6><h6 class="text-uppercase">
                San Jose, California
            </h6>
        </div>

    </div>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/speakers">Speakers</a></li>
            <li class="nav-item"><a class="nav-link" href="/sessions">Sessions</a></li>
        </ul>
    </div>
</nav>

@{
    var tracks = Model.Select(a => a.TrackName).
        Distinct().
        OrderBy(a => a).
        ToList();
}

<div class="container">
    @foreach (var track in tracks)
    {
    <SpeakerTrack track-name="@track">
        @foreach (var speaker in Model.Where(a => a.TrackName == track).OrderBy(a => a.UserLastName))
        {
           <SpeakerCard  speaker="@speaker"></SpeakerCard>
            @*@await Component.InvokeAsync("Speaker", new { speakerId = speaker.SpeakerId })*@
        }
    </SpeakerTrack>
    }
</div>







<div class="jumbotron text-center">
    <h7>
        <b>Silicon Valley Code Camp 2018</b> is Hosted by PayPal in San Jose at their Town Hall location. 2121 North
        First Street. <b>October 13-14 2018</b>
    </h7>
</div>
