@using WebAppTagHelper.Models
@using WebAppTagHelper.TagHelpers
@{
    ViewData["Title"] =
        "Tag Helper Simple Example";
}

@{
    Speaker speaker = new Speaker
    {
        SpeakerId = 1124,
        UserLastName = "Crockford",
        UserFirstName = "Douglas",
        Company = "PayPal"
    };
}


<div class="container">



    <SpeakerCard speaker="@speaker">
    </SpeakerCard>


</div>
