/* biz-red */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300&amp;subset=latin,greek-ext,cyrillic-ext,greek,vietnamese,cyrillic,latin-ext';

html{
  height: 100%;
}
.formoid-biz-red{
  margin:0 auto;
}
.formoid-biz-red>div,
.formoid-biz-red>.title{
  margin: 8px;
}
.formoid-biz-red .error-field .required{
  color:#FF9999;
}
.formoid-biz-red .error-field input,
.formoid-biz-red .error-field input[type=text],
.formoid-biz-red .error-field input[type=password],
.formoid-biz-red .error-field input[type=email],
.formoid-biz-red .error-field input[type=url],
.formoid-biz-red .error-field input[type=date],
.formoid-biz-red .error-field input[type=number],
.formoid-biz-red .error-field input[type=tel],
.formoid-biz-red .error-field textarea{
  border-color:#D893A1;
  background-color: #FBE6F2;
}
.formoid-biz-red label.error{
  display:inline-block;
  font-size:0.9em;
}
.formoid-biz-red .error,
.formoid-biz-red .error #recaptcha_widget_div{
  padding: 3px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;

  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #c09853;
}
.formoid-biz-red .error h4 {
  color: #b94a48;
  margin: 0;
}

.formoid-biz-red .error .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.formoid-biz-red .column{
  float:left; 
}
/* width = parseInt(100/columns.length)*/
.formoid-biz-red .column1{ width:100%;}
.formoid-biz-red .column2{ width:50%; }
.formoid-biz-red .column3{ width:33%; }
.formoid-biz-red .column4{ width:25%; }
.formoid-biz-red .column5{ width:20%; }



.formoid-biz-red .large{
  width: 100%;
  *width: 94%;
}
.formoid-biz-red .medium{
  width: 50%;
  *width: 47%;
}
.formoid-biz-red .small{
  width: 25%;
  *width: 23%;
}

.formoid-biz-red textarea.large{
  width: 100%;
  *width: 94%;
  height: 20em;
}
.formoid-biz-red textarea.medium{
  width: 100%;
  *width: 94%;
  height: 10em;
}
.formoid-biz-red textarea.small{
  width: 100%;
  *width: 94%;
  height: 5.5em;
}

/* address select style */
.formoid-biz-red .element-address .country {
  position: relative;
}

.frmd{
  display:none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}


.blurBg,
.blurBg-true{
  background-attachment: fixed;
  background-image:
    -webkit-linear-gradient(5deg, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%), /* linear bottom */
    -webkit-radial-gradient(40% 60%, ellipse farthest-side, rgba(255, 255, 255, 0.45) -10%, rgba(255, 255, 255, 0) 100%),/* center white */
    -webkit-radial-gradient(50% -10%, circle farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 30%),/* top center white */
    -webkit-radial-gradient(100% 0%, ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%),/* top right white */
    -webkit-radial-gradient(0% 0%, ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 10%),/* top left white */
    -webkit-radial-gradient(90% 60%, ellipse farthest-side, rgba(0, 0, 0, 0.35) -10%, rgba(0, 0, 0, 0) 100%),/* center right black */
    -webkit-radial-gradient(20% 10%, circle farthest-side, rgba(0, 0, 0, 0.25) -10%, rgba(0, 0, 0, 0) 20%);
  
  background-image:
    linear-gradient(85deg, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%), /* linear bottom */
    radial-gradient(40% 60%,ellipse farthest-side, rgba(255, 255, 255, 0.45) -10%, rgba(255, 255, 255, 0) 100%),/* center white */
    radial-gradient(50% -10%,circle farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 30%),/* top center white */
    radial-gradient(100% 0%,ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%),/* top right white */
    radial-gradient(0% 0%,ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 10%),/* top left white */
    radial-gradient(90% 60%,ellipse farthest-side, rgba(0, 0, 0, 0.35) -10%, rgba(0, 0, 0, 0) 100%),/* center right black */
    radial-gradient(20% 10%,circle farthest-side, rgba(0, 0, 0, 0.25) -10%, rgba(0, 0, 0, 0) 20%);/* top left black */
  /*
    radial-gradient(40% 60%,ellipse farthest-side, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%),
    radial-gradient(50% -10%,circle closest-corner, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0) 50%),
    radial-gradient(0% 100%,ellipse farthest-side, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 20%),
    radial-gradient(100% 0%,ellipse farthest-side, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 20%),
    radial-gradient(1% 2%,circle farthest-side, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 20%);
  */
}

#formoid-info {
  display: block;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  color: #c09853;
  font-size: 12px;
  max-width: 100%;
}/*


Metro style


*/
@font-face {
  font-family: formoid;
  src:url('formoid.eot');
  src:url('formoidd41d.eot?#iefix') format('embedded-opentype'),
  url('formoid.ttf') format('truetype'),
  url('formoid.woff') format('woff'),
  url('formoid.svg#formoid') format('svg');
  font-weight: normal;
  font-style: normal;
}
.formoid-biz-red{
  font-size: 0.9em;
}
.formoid-biz-red,
.formoid-biz-red input[type=button],
.formoid-biz-red .btn,
.formoid-biz-red input[type=submit] {
  outline: none;
  font-family: inherit;
}
.formoid-biz-red>div,
.formoid-biz-red .elements > div{
  position: relative;
  margin-left: 35px;
  margin-right: 35px;
}
.formoid-biz-red .elements {
  margin: 0;
}

.formoid-biz-red h2 {
  margin: 0;
  font-size: 1.2em;
}
.formoid-biz-red h3.title {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
.formoid-biz-red h3.section-break-title {
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.formoid-biz-red h2,
.formoid-biz-red h3.title,
.formoid-biz-red h3.section-break-title {
  text-transform: uppercase;
  font-weight: normal;
}

.formoid-biz-red label {
	display: block;
	margin-bottom: 3px;
	clear: both;
}
.formoid-biz-red div, .formoid-biz-red span, .formoid-biz-red label, .formoid-biz-red input, .formoid-biz-red textarea, .formoid-biz-red select, .formoid-biz-red button, .formoid-biz-red ul, .formoid-biz-red li, .formoid-biz-red a{
	font-family: inherit;
	color: inherit;
}

.formoid-biz-red .elements {
  color: #D3D3D3;
}
.formoid-biz-red .element-separator,
.formoid-biz-red .element-separator > div,
.formoid-biz-red .elements > .element-separator,
#designer .element-separator .container {
  margin: 0;
  padding: 0;
}
.formoid-biz-red .element-separator h3 {
  margin-left: 38px;
  margin-right: 38px;
}

hr {
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 30px;
}
/* Global Declaration */

/*
CORE FUNCTIONALITY

Not advised to edit stuff below this line
-----------------------------------------------------
*/

/* submit + title */
.formoid-biz-red div.submit,
.formoid-biz-red div.title{
  margin: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #f6f6f6;
  background-color: rgba(0,0,0,0.02);
}
.formoid-biz-red div.title h2{
  margin-left: 38px;
}
.formoid-biz-red div.title{
  padding-top: 35px;
  padding-bottom: 1em;
}
.formoid-biz-red div.submit{
  vertical-align: middle;
  text-align: right;
}


/* Button & submit*/
.formoid-biz-red .btn,
.formoid-biz-red input[type=button],
.formoid-biz-red input[type=submit]{
  display: -moz-inline-box;
  display: inline-block;
  text-align: left;
  cursor: pointer;
  background: #000;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.formoid-biz-red .btn:hover,
.formoid-biz-red input[type=button]:hover {
  text-decoration: none;
}

.formoid-biz-red .btn[disabled],
.formoid-biz-red input[type=button][disabled] {
  cursor: default;
  opacity: 0.65;
}

.formoid-biz-red input[type=submit] {
	font-size: 1em;
  text-align: center;
  opacity: 1;
	color: #ffffff;
  right: 20px;
  padding: 0.75em 1.6em;
  margin-right: 38px;
  text-transform: uppercase;
}

.formoid-biz-red input[type=submit]:hover {
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
}
.formoid-biz-red .btn{
  width: 100%;
  font-size: 1.1em;
}


/* Select */
.formoid-biz-red .element-select select,
.formoid-biz-red .country {
  position: relative;
  cursor: pointer;
}
.formoid-biz-red .element-select div{
	display: block;
}
.formoid-biz-red .element-select div span{
  position: relative;
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	width: 100%;
}
.formoid-biz-red .element-select div span.required{
	display: initial;
}


/* File input */
.formoid-biz-red .element-file label{
  position: relative;
}
.formoid-biz-red .element-file .title{
  position: static;
}
.formoid-biz-red .element-file .button {
  position: absolute;
  text-transform: uppercase;
  top: 0;
  right: 0;
  bottom: 1px;
  float: none;
  padding: 2.5% 1.6em 0 1.6em;
  text-align: center;
  color: #fff;
  opacity: 1;

  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  z-index: 1;
}
.formoid-biz-red .element-file .button:hover {
  box-shadow: none;
  opacity: 0.8;
}
.formoid-biz-red .element-file .file_input {
  position: absolute;
  top: 0;
  right: 0;
	bottom: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
	filter: alpha(opacity=0);
	width: 100%;
}
.formoid-biz-red .element-file .file_text{
  overflow: hidden;
  cursor: pointer;
	bottom: 0;
}
* html .formoid-biz-red .element-file .file_input,
*+html .formoid-biz-red .element-file .file_input{
  position: relative;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	width: auto;
  opacity: 1;
	filter: alpha(opacity=100);
}
* html .formoid-biz-red .element-file .button,
*+html .formoid-biz-red .element-file .button{
	display: none;
}
* html .formoid-biz-red .element-file .title,
*+html .formoid-biz-red .element-file .title{
	display: block;
}


/* Radio & checkbox */
.formoid-biz-red div.element-checkbox, .formoid-biz-red div.element-radio{
  overflow:hidden;
}
.formoid-biz-red input[type=checkbox],
.formoid-biz-red input[type=radio]{
  z-index:1;
  position: absolute;
  float: left;
	width: 1.5em;
	height: 1.5em;
	font-size: 1em;
	opacity: 0.01;
  margin: 0;
  cursor: pointer;
}

.formoid-biz-red input[type=radio]+span,
.formoid-biz-red input[type=checkbox]+span{
  position: relative;
  cursor: pointer;
}
.formoid-biz-red input[type=radio]+span:before,
.formoid-biz-red input[type=checkbox]+span:before,
.formoid-biz-red input[type=radio]+span:after {
  position: relative;
  display: inline-block;
  font-family: formoid;
  margin-right: 0.5em;
  width: 1.5em;
  height: 1.5em;
  color: transparent;
  font-size: 1em;
  line-height: 1.55;
  background: #000;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.formoid-biz-red input[type=radio]+span:before,
.formoid-biz-red input[type=radio]+span:after {
  content: '\e005';
  border-radius: 50%;
}
.formoid-biz-red input[type=radio]+span:after {
  width: 0.65em;
  height: 0.65em;
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 0.45em;
  margin-top: 0.35em;
  border-radius: 50%;
}

.formoid-biz-red input[type=checkbox]+span:before {
  content: "\e004";
}


/* rating */
.formoid-biz-red .rating {
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.formoid-biz-red .rating-input {
  display: none;
}
.formoid-biz-red .rating-star:after {
  font-family: formoid;
  font-size: 2em;
}
.formoid-biz-red .rating-star,
.formoid-biz-red .rating:hover .rating-star {
  position: relative;
  cursor: default;
  clear: none;
  float: right;
  display: block;
  width: 2.2em;
  height: 2em;
}
.formoid-biz-red .rating-star:after,
.formoid-biz-red .rating:hover .rating-star:after {
  content: '\e006';
  color: #000;
}



.formoid-biz-red input[type=text],
.formoid-biz-red input[type=tel],
.formoid-biz-red input[type=password],
.formoid-biz-red input[type=email],
.formoid-biz-red input[type=url],
.formoid-biz-red input[type=date],
.formoid-biz-red input[type=number],
.formoid-biz-red textarea,
.formoid-biz-red .element-file .file_text,
.formoid-biz-red  select,
.formoid-biz-red button{
  color: #D3D3D3;
  border: none;
  border-bottom: solid 1px rgba(255,255,255,0.2);
  background: #000000;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
  resize: none;

  outline: medium none;
  padding: 0.6em 1em;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.1em;
}
.formoid-biz-red .element-address input[type=text],
.formoid-biz-red .element-name input[type=text],
.formoid-biz-red .element-file .file_text,
.formoid-biz-red textarea{
	width: 100%;
	*width: 94%;
  margin-bottom: 7px;
}
.formoid-biz-red textarea{
    height: auto;
}
.formoid-biz-red  select{
	cursor: pointer;
	text-align: left;
	width: 100%;
}


/* NAME last first */
.formoid-biz-red .element-name .nameFirst{
  width: 40%;
	*width: 39%;
	left: 0;
  display: inline-block;
  margin-right: 5%;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
.formoid-biz-red .element-name .nameLast{
  width: 55%;
	*width: 50%;
  display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}

/* ADDRESS */
.formoid-biz-red .element-address .city,
.formoid-biz-red .element-address .zip{
  width: 47%;
	*width: 44%;
  display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
  margin-right: 6%;
}
.formoid-biz-red .element-address .state,
.formoid-biz-red .element-address .country{
  width: 47%;
	*width: 44%;
  display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}
.formoid-biz-red .element-address .country select{
  cursor: pointer;
}
.formoid-biz-red .element-address label,
.formoid-biz-red .element-name label{
  font-size: 0.82em;
}
.formoid-biz-red .element-address label.title,
.formoid-biz-red .element-name label.title{
  font-size: 1.1em;
}

/* type number */
.formoid-biz-red input[type=number]::-webkit-inner-spin-button, 
.formoid-biz-red input[type=number]::-webkit-outer-spin-button{ 
	-webkit-appearance: none;
} 

/* recaptcha */
.formoid-biz-red .recaptchatable,
.formoid-biz-red .recaptchatable #recaptcha_image,
.formoid-biz-red .recaptchatable #recaptcha_challenge_field_holder input{
	border-bottom: 1px solid #e5e5e5 !important;
}

/* ERRORs */
.formoid-biz-red .error-field input,
.formoid-biz-red .error-field input[type=text],
.formoid-biz-red .error-field input[type=password],
.formoid-biz-red .error-field input[type=email],
.formoid-biz-red .error-field input[type=url],
.formoid-biz-red .error-field input[type=date],
.formoid-biz-red .error-field input[type=number],
.formoid-biz-red .error-field input[type=tel],
.formoid-biz-red .error-field textarea{
  border-color:#A92828;
  background-color: #200000;
}

.formoid-biz-red .error,
.formoid-biz-red .error #recaptcha_widget_div{
  background-color: #cc3d3d;
  color: #fff;
  text-shadow: none;
  border: none;
  margin-left: 35px;
  margin-right: 35px;
}
.tooltip {
	position: relative;
	margin-top: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.bottom .tooltip-arrow {
  top: -8px;
  left: 17px;
  margin-left: -8px;
  border-bottom-color: #cc3d3d;
  border-width: 0 8px 8px;
}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}


.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}



@media all and (max-width:400px){
  .formoid-biz-red .element-radio .column,
  .formoid-biz-red .element-checkbox .column,
	.formoid-biz-red .element-name .nameFirst,
	.formoid-biz-red .element-name .nameLast,
	.formoid-biz-red .element-address .city,
	.formoid-biz-red .element-address span.state,
	.formoid-biz-red .element-address .zip,
	.formoid-biz-red .element-address .country{
    width: 100%;
		display: block;
		margin-right: 0;
  }
}
/* .formoid-biz-red color scheme begin */
.formoid-biz-red input[type=submit],
.formoid-biz-red .element-file .button{
  background-color: #C33F22;
}
.formoid-biz-red .rating:hover .rating-star:hover:after,
.formoid-biz-red .rating:hover .rating-star:hover ~ .rating-star:after{
  color: #C33F22;
  opacity: 0.8;
}
.formoid-biz-red input[type=checkbox]:checked+span:before,
.formoid-biz-red .rating-input:checked ~ .rating-star:after{
  color: #C33F22;
}
.formoid-biz-red input[type=radio]:checked+span:after {
  background: #C33F22;
}


/* bootstrap select */
.formoid-biz-red .dropdown-inverse li.active > a,
.formoid-biz-red .dropdown-inverse li.selected > a,
.formoid-biz-red .dropdown-inverse li > a:hover,
.formoid-biz-red .dropdown-inverse li > a:active,
.formoid-biz-red .dropdown-inverse li > a:focus {
	background-color: #C33F22;
}
.formoid-biz-red .dropdown-menu li > a:hover,
.formoid-biz-red .dropdown-menu li > a:active,
.formoid-biz-red .dropdown-menu li > a:focus,
.formoid-biz-red .dropdown-submenu:hover > a {
	background-image: none;
	background-color: rgba(255,255,255,0.2);
  outline: none;
}

/* datepicker */
.datepicker td.active,
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled],
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td span.active,
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled]{
  color: #ffffff;
  background-image: none;
  background-color: #C33F22;
}

/* .formoid-biz-red color scheme begin end *//* 

bootstrap 

*/
.formoid-biz-red .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #000;
  border-radius: 0;

  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.formoid-biz-red .dropdown-menu > li > a:hover,
.formoid-biz-red .dropdown-menu > li > a:focus,
.formoid-biz-red .dropdown-submenu:hover > a,
.formoid-biz-red .dropdown-submenu:focus > a {
  text-decoration: none;
}

.formoid-biz-red .btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1;
}

.formoid-biz-red .btn-group > .dropdown-menu{
	font-size: 1em;
}

.formoid-biz-red .btn{
  text-align: left;
  cursor: pointer;

  width: 100%;
  height: 100%;
  padding: 0.7em 1em;

  outline:none;

  -webkit-transition: 0.3s;
  transition: 0.3s;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: normal;    

  border: 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);

  font-size: 1em;
}
.formoid-biz-red .btn:active,
.formoid-biz-red .btn-group.open .btn.dropdown-toggle,
.formoid-biz-red .btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.formoid-biz-red .btn.disabled,
.formoid-biz-red .btn[disabled] {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.formoid-biz-red .select {
  width: 100%;
}

.formoid-biz-red .select .btn .filter-option {
	position: absolute;
	left: 13px;
	right: 30px;
  overflow: hidden;
  text-align: left;
}

.formoid-biz-red .select .btn .dropdown-toggle {
  border-radius: 6px;
}
.formoid-biz-red .select .btn .dropdown-menu {
  min-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.formoid-biz-red .select .btn .dropdown-menu li:not(.disabled) > a:hover small {
  color: rgba(255, 255, 255, 0.004);
}

.formoid-biz-red .select .btn > .disabled,
.formoid-biz-red .select .btn .dropdown-menu li.disabled > a {
  cursor: default;
}
.formoid-biz-red .select .caret {
	position: absolute;
	
	border-top: 4px solid #ECECEC;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;

	right: 10px;
	top: 49%;
}

.formoid-biz-red .dropdown-menu {
  overflow-x: hidden;
  display: block;
  opacity: 0;
  visibility: hidden;
  width: 99%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.formoid-biz-red .dropdown-menu.typeahead {
  display: none;
  opacity: 1;
  visibility: visible;
  width: auto;
}
.formoid-biz-red .open > .dropdown-menu {
  margin-top: 6px;
  opacity: 1;
  visibility: visible;
}
.formoid-biz-red .dropdown-menu li:first-child dt + a {
  border-radius: 0;
}
.formoid-biz-red .dropdown-menu li.active > a,
.formoid-biz-red .dropdown-menu li.selected > a,
.formoid-biz-red .dropdown-menu li.active > a.highlighted,
.formoid-biz-red .dropdown-menu li.selected > a.highlighted,
.formoid-biz-red .dropdown-menu li.active > a:hover,
.formoid-biz-red .dropdown-menu li.selected > a:hover,
.formoid-biz-red .dropdown-menu li.active > a.highlighted:hover,
.formoid-biz-red .dropdown-menu li.selected > a.highlighted:hover,
.formoid-biz-red .dropdown-menu li.active > a:focus,
.formoid-biz-red .dropdown-menu li.selected > a:focus,
.formoid-biz-red .dropdown-menu li.active > a.highlighted:focus,
.formoid-biz-red .dropdown-menu li.selected > a.highlighted:focus {
  color: #ffffff;
}
.formoid-biz-red .dropdown-menu li > a {
  padding: 6px 15px 6px;
  text-decoration: none;
  *zoom: 1;
  -webkit-backface-visibility: hidden;
	display: block;
	clear: both;
	white-space: nowrap;
}
.formoid-biz-red .dropdown-menu li > a:before,
.formoid-biz-red .dropdown-menu li > a:after {
  display: table;
  content: "";
}
.formoid-biz-red .dropdown-menu li > a:after {
  clear: both;
}
.formoid-biz-red .dropdown-menu li > a.highlighted {
  background: #c9cfd4;
  color: #ffffff;
}
.formoid-biz-red .dropdown-menu li > a.highlighted:hover,
.formoid-biz-red .dropdown-menu li > a.highlighted:focus {
  background: #bac1c8;
  color: #ffffff;
}
.formoid-biz-red .dropdown-menu li > a:before {
  margin-top: 3px;
}

.formoid-biz-red .dropdown-menu li dt {
  margin-bottom: 3px;
  margin-top: 12px;
  padding: 0 15px;
}
.formoid-biz-red .dropdown-inverse {
  border: 1px solid rgba(255,255,255,0.2);
  padding-top: 4px;
}
.formoid-biz-red .dropdown-inverse li {
  margin: 0 4px -2px;
}
.formoid-biz-red .dropdown-inverse li:first-child > a,
.formoid-biz-red .dropdown-inverse li:last-child > a {
  border-radius: 0;
  padding-bottom: 7px;
}
.formoid-biz-red .dropdown-inverse li.active > a,
.formoid-biz-red .dropdown-inverse li.selected > a {
  position: relative;
  z-index: 1;
}
.formoid-biz-red .dropdown-inverse li dt {
  padding-left: 11px;
  padding-right: 11px;
}
.formoid-biz-red .dropdown-inverse li .divider {
  margin-left: 11px;
  margin-right: 11px;
}
.formoid-biz-red .dropdown-inverse li > a.highlighted {
  background: #526476;
}
.formoid-biz-red .dropdown-inverse li > a.highlighted:hover,
.formoid-biz-red .dropdown-inverse li > a.highlighted:focus {
  background: #677786;
}
.formoid-biz-red .dropdown-inverse li .divider {
  background-color: #526476;
  border-bottom-color: #526476;
}
.formoid-biz-red .dropdown-menu.pull-right {
	right: 0;
	left: auto;
}
.formoid-biz-red .dropdown-arrow {
  border-style: solid;
  border-width: 0 6px 6px;
  height: 0;
  margin-top: 0;
  opacity: 0;
  position: absolute;
  left: 13px;
  top: 100%;
  border-color: transparent;
  border-bottom-color: rgba(255,255,255,0.2);
  border-top-color: rgba(255,255,255,0.2);

  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);

  -webkit-transition: 0.25s;
  transition: 0.25s;
  
  -webkit-backface-visibility: hidden;
  width: 0;
  z-index: 10;
}
.formoid-biz-red .open > .dropdown-arrow {
  margin-top: 0;
  opacity: 1;
}/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  width: 14em;
  font-size: 1em;
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 8px;
	border-radius: 0;
  display: none;
  z-index: 10;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: -7px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 2.9em;
	border-radius: 0;
}
.datepicker td.day:hover {
  background: rgba(255,255,255,0.2);
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker td span {
  display: block;
  width: 1.5em;
  height: 1.7em;
  line-height: 1.6;
  float: left;
  margin: 2px;
  cursor: pointer;
}
.datepicker .datepicker-months td span,
.datepicker .datepicker-years td span {
	width: 3.5em;
	height: 3em;
	line-height: 3;
}
.datepicker td span:hover {
  background: rgba(255,255,255,0.2);
}
.datepicker td span.active {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker td span.old {
  color: #999999;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: rgba(255,255,255,0.2);
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}