@model Speaker


<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card">
        <div class="card-img">
            <img src="static/speakers/Speaker-@(Model.SpeakerId).jpg" />
        </div>
        <h4 class="card-title">
            <a href="#">@(Model.UserFirstName) @(Model.UserLastName)</a>
        </h4>
        <p class="card-position">@(Model.Company)</p>
        <ul class="social">
            <li>
                <a target="_blank" href="#">LinkedIn</a>
            </li>
            <li>
                <a target="_blank" href="#">Twitter</a>
            </li>
        </ul>
        <div>
            <b>SESSIONS</b>
        </div>
        <ul>
            @foreach (var session in Model.Sessions)
            {
                <li>
                    <i>@session.Title</i>
                </li>
            }
        </ul>


    </div>
</div>