@{
    ViewData["Title"] = "Home Page";
}

@{ 
    var moonLandingDate = "07-20-1969";
}
<br/><br/>
<h1>Days since Landing on the Moon</h1>
<h2><time-since compare-date-time="@moonLandingDate"></time-since></h2>



@*<tab active-page="Sessions">
    <tab-item title="Home"></tab-item>
    <tab-item title="Speakers"></tab-item>
    <tab-item title="Sessions"></tab-item>
    <tab-item title="Registration"></tab-item>
</tab>*@


@*<div class="container">
        <h4>Silicon Valley Code Camp</h4>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#">Speakers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#">Sessions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#">Registration</a>
                </li>
            </ul>
        </nav>
    </div>*@
