@using WebAppTagHelper.Models
@using WebAppTagHelper.TagHelpers

@{
    Speaker speaker = new Speaker
    {
        SpeakerId = 1124,
        UserLastName = "Crockford",
        UserFirstName = "Douglas",
        Company = "PayPal"
    };
}

<div class="container">
    <div class="track">
        <h2>All About JavaScript</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-img"><img src="static/speakers/Speaker-1530.jpg" /></div>
                    <h4 class="card-title"><a href="#">Benjamin Kappler</a></h4>
                    <p class="card-position">UX Design Manager@Atlassian</p>
                    <p class="card-description">Keynote: Will be announced soon</p>
                    <ul class="social">
                        <li>
                            <a target="_blank" href="#">Linkedin</a>
                        </li>
                        <li>
                            <a target="_blank" href="#">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-img"><img src="static/speakers/Speaker-5996.jpg" /></div>
                    <h4 class="card-title"><a href="#">Benjamin Kappler</a></h4>
                    <p class="card-position">UX Design Manager@Atlassian</p>
                    <p class="card-description">Keynote: Will be announced soon</p>
                    <ul class="social accent-color">
                        <li>
                            <a target="_blank" href="#">Linkedin</a>
                        </li>
                        <li>
                            <a target="_blank" href="#">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-img"><img src="static/speakers/Speaker-10803.jpg" /></div>
                    <h4 class="card-title"><a href="#">Benjamin Kappler</a></h4>
                    <p class="card-position">UX Design Manager@Atlassian</p>
                    <p class="card-description">Keynote: Will be announced soon</p>
                    <ul class="social accent-color">
                        <li>
                            <a target="_blank" href="#">Linkedin</a>
                        </li>
                        <li>
                            <a target="_blank" href="#">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-img"><img src="static/speakers/Speaker-1124.jpg" /></div>
                    <h4 class="card-title"><a href="#">Benjamin Kappler</a></h4>
                    <p class="card-position">UX Design Manager@Atlassian</p>
                    <p class="card-description">Keynote: Will be announced soon</p>
                    <ul class="social accent-color">
                        <li>
                            <a target="_blank" href="#">Linkedin</a>
                        </li>
                        <li>
                            <a target="_blank" href="#">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="track">
        <h2>Management Track</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-img"><img src="static/speakers/Speaker-1269.jpg" /></div>
                    <h4 class="card-title"><a href="#">Benjamin Kappler</a></h4>
                    <p class="card-position">UX Design Manager@Atlassian</p>
                    <p class="card-description">Keynote: Will be announced soon</p>
                    <ul class="social accent-color">
                        <li>
                            <a target="_blank" href="#">Linkedin</a>
                        </li>
                        <li>
                            <a target="_blank" href="#">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-img"><img src="static/speakers/Speaker-1725.jpg" /></div>
                    <h4 class="card-title"><a href="#">Benjamin Kappler</a></h4>
                    <p class="card-position">UX Design Manager@Atlassian</p>
                    <p class="card-description">Keynote: Will be announced soon</p>
                    <ul class="social accent-color">
                        <li>
                            <a target="_blank" href="#">Linkedin</a>
                        </li>
                        <li>
                            <a target="_blank" href="#">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>