@using WebAppTagHelper.Models
@using WebAppTagHelper.TagHelpers

@{
    List<Speaker> speakers = new List<Speaker>
    {
        new Speaker
        {
            SpeakerId = 1124,
            UserFirstName = "Douglas",
             UserLastName = "Crockford",
            TrackName = "JavaScript",
            Company = "PayPal"
        },
        new Speaker
        {
            SpeakerId = 10803,
            UserFirstName = "Eugene",
            UserLastName = "Chuvyrov",
            TrackName = "Microservices",
            Company = "Microsoft"
        },
        new Speaker
        {
            SpeakerId = 187,
            UserFirstName = "David",
            UserLastName = "Nielsen",
            TrackName = "Microservices",
            Company = "RedHat"
        },
        new Speaker
        {
            SpeakerId = 1269,
            UserFirstName = "Arun",
            UserLastName = "Gupta",
            TrackName = "Microservices",
            Company = "Oracle"
        },
        new Speaker
        {
            SpeakerId = 1725,
            UserFirstName = "Brad",
            UserLastName = "Irby",
            TrackName = "Microservices",
            Company = "BradIrby"
        },
        new Speaker
        {
            SpeakerId = 823,
            UserFirstName = "Kevin",
            UserLastName = "Nilson",
            TrackName = "JavaScript",
            Company = "Google"
        },
        new Speaker
        {
            SpeakerId = 6548,
            UserFirstName = "Steve",
            UserLastName = "Souders",
            TrackName = "JavaScript",
            Company = "SpeedCurver"
        }
    };
}

<div class="container">
    <SpeakerTrack track-name="JavaScript">
        <vc:speaker-card speaker=@speakers[0]></vc:speaker-card>
        <vc:speaker-card speaker=@speakers[1]></vc:speaker-card>
        <vc:speaker-card speaker=@speakers[2]></vc:speaker-card>
        <vc:speaker-card speaker=@speakers[3]></vc:speaker-card>
    </SpeakerTrack>
</div>