<div class="jumbotron">
    <div class="row">
        <div class="col-12 col-sm-6 text-center">
            <h6 class="text-uppercase">October 13-14 2018</h6><h6 class="text-uppercase">
                San Jose, California
            </h6>
        </div>
        <div class="col-12 col-sm-8 text-lg-right">
            <div><img alt="" src='SVCClogo.png'></div>
            <h2>Silicon Valley Code Camp 2018</h2>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/speakers">Speakers</a></li>
            <li class="nav-item"><a class="nav-link" href="/sessions">Sessions</a></li>
        </ul>
    </div>
</nav>



<div class="container">


    <br /><br />
    <h2>All About JavaScript</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-img"><img src="static/speakers/Speaker-1530.jpg" /></div>
                <h4 class="card-title"><a href="#">Benjamin Kappler</a></h4>
                <p class="card-position">UX Design Manager<br>Atlassian</p>
                <p class="card-description">Keynote: Will be announced soon</p>
                <ul class="social accent-color">
                    <li>
                        <a target="_blank" href="#">Linkedin</a>
                    </li>
                    <li>
                        <a target="_blank" href="#">Linkedin</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-img"><img src="static/speakers/Speaker-5996.jpg" /></div>
                <h4 class="card-title"><a href="#">Benjamin Kappler</a></h4>
                <p class="card-position">UX Design Manager<br>Atlassian</p>
                <p class="card-description">Keynote: Will be announced soon</p>
                <ul class="social accent-color">
                    <li>
                        <a target="_blank" href="#">Linkedin</a>
                    </li>
                    <li>
                        <a target="_blank" href="#">Linkedin</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-img"><img src="static/speakers/Speaker-10803.jpg" /></div>
                <h4 class="card-title"><a href="#">Benjamin Kappler</a></h4>
                <p class="card-position">UX Design Manager<br>Atlassian</p>
                <p class="card-description">Keynote: Will be announced soon</p>
                <ul class="social accent-color">
                    <li>
                        <a target="_blank" href="#">Linkedin</a>
                    </li>
                    <li>
                        <a target="_blank" href="#">Linkedin</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-img"><img src="static/speakers/Speaker-1124.jpg" /></div>
                <h4 class="card-title"><a href="#">Benjamin Kappler</a></h4>
                <p class="card-position">UX Design Manager<br>Atlassian</p>
                <p class="card-description">Keynote: Will be announced soon</p>
                <ul class="social accent-color">
                    <li>
                        <a target="_blank" href="#">Linkedin</a>
                    </li>
                    <li>
                        <a target="_blank" href="#">Linkedin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <br /><br />
    <h2>Management Track</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-img"><img src="static/speakers/Speaker-1269.jpg" /></div>
                <h4 class="card-title"><a href="#">Benjamin Kappler</a></h4>
                <p class="card-position">UX Design Manager<br>Atlassian</p>
                <p class="card-description">Keynote: Will be announced soon</p>
                <ul class="social accent-color">
                    <li>
                        <a target="_blank" href="#">Linkedin</a>
                    </li>
                    <li>
                        <a target="_blank" href="#">Linkedin</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-img"><img src="static/speakers/Speaker-1725.jpg" /></div>
                <h4 class="card-title"><a href="#">Benjamin Kappler</a></h4>
                <p class="card-position">UX Design Manager<br>Atlassian</p>
                <p class="card-description">Keynote: Will be announced soon</p>
                <ul class="social accent-color">
                    <li>
                        <a target="_blank" href="#">Linkedin</a>
                    </li>
                    <li>
                        <a target="_blank" href="#">Linkedin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>
<div class="jumbotron text-center">
    <h7>
        <b>Silicon Valley Code Camp 2018</b> is Hosted by PayPal in San Jose at their Town Hall location. 2121 North
        First Street. <b>October 13-14 2018</b>
    </h7>
</div>