@{
    ViewData["Title"] = "Home Page";
}

@{
    List<Speaker> speakers = new List<Speaker>
{
        new Speaker
        {
            SpeakerId = 1124,
            UserFirstName = "Douglas",
            UserLastName = "Crockford",
            TrackName = "JavaScript",
            Company = "PayPal"
        },
        new Speaker
        {
            SpeakerId = 823,
            UserFirstName = "Kevin",
            UserLastName = "Nilson",
            TrackName = "JavaScript",
            Company = "Google"
        },
        new Speaker
        {
            SpeakerId = 6548,
            UserFirstName = "Steve",
            UserLastName = "Souders",
            TrackName = "JavaScript",
            Company = "SpeedCurver"
        }
    };
}

<div class="container">
    <speaker-track track-name="JavaScript">
        <vc:speaker-card speaker=@speakers[0]></vc:speaker-card>
        <vc:speaker-card speaker=@speakers[1]></vc:speaker-card>
        <vc:speaker-card speaker=@speakers[2]></vc:speaker-card>
    </speaker-track>
</div>






@*<speaker-card speaker="@speakers[0]"></speaker-card>*@