




<div class="container">
    <h3>Silicon Valley Code Camp</h3>
    <ul class="nav nav-tabs">
        <li><a href="#">Home</a></li>
        <li><a href="#">Speakers</a></li>
        <li class="active"><a href="#">Sessions</a></li>
        <li><a href="#">Registration</a></li>
    </ul>
</div>


@*<tab active-page="Sessions">
    <tab-item title="Home"></tab-item>
    <tab-item title="Speakers"></tab-item>
    <tab-item title="Sessions" ></tab-item>
    <tab-item title="Registration"></tab-item>
</tab>*@

@*<div class="container">
        <h3>Tabs</h3>
        <ul class="nav nav-tabs">
            <li><a href="#">Home</a></li>
            <li><a href="#">Menu 1</a></li>
            <li class="active"><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
        </ul>
    </div>*@

@*<div custom-highlight>
        <b>Here is some sample text to be highlighted</b>
    </div>

    <mod-test first-name="Peter" last-name="Kellner"></mod-test>

    <hr/>*@
@*<my-test>My Test Tag Helper</my-test>*@

@*<my-test>My Test Tag Helper</my-test>*@

@*<my-test>
        My Test Tag Helper
    </my-test>*@

@*<auto-price make="plymouth" model="laser"></auto-price>
    <auto-price make="plymouth" model="voyager"></auto-price>
    <auto-price make="ford" model="laser"></auto-price>
    <auto-price make="ford" model="mustang"></auto-price>
    <auto-price make="ford" model="thunderbird"></auto-price>
    <auto-price make="ford" model="torino"></auto-price>
    <auto-price make="pontiac" model="roadster"></auto-price>
    <auto-price make="triumph" model="speedmaster"></auto-price>
    <auto-price make="gm" ></auto-price>
    <auto-price make="gm" color="red" ></auto-price>*@



@*@{
    ViewData["Title"] = "Tag Helper Simple Example";
}*@

@*@model WebAppTagHelper.Controllers.ModelAddress

<company name="Microsoft">
    <employee name="Taylor Mullen"
              title="Software Engineer II"></employee>
    <employee name="Damian Edwards"
              title="Principal Program Manager"></employee>
    <employee name="Eilon Lipton"
              title="Principal Group Manager"></employee>
</company>

<company name="Google">
    <employee name="Larry Page"
              title="Engineer Inventor"></employee>
    <employee name="Sergey Brin"
              title="Computer Scientist"></employee>
</company>*@

@*<style type="text/css">
        .highlight {
            background: green;
        }
    </style>*@