@model WebAppTagHelper.Controllers.ModelAddress


<h1>
    
    <view-ctx misc-string="@ViewContext.ExecutingFilePath"></view-ctx>
</h1>























@*<h1>
    <mod-exp helper-for="FirstName"></mod-exp>
</h1>*@




















@*<mod-test first-name="Peter" last-name="Kellner"></mod-test>
<hr/>
<mod-exp helper-for="FirstName"></mod-exp>
<hr/>
<view-ctx misc-string="@ViewContext.ExecutingFilePath"></view-ctx>*@