@{
    ViewData["Title"] = "Videos Page";
    Layout = null;
}
<html>
<body> 
    <b>Our YouTubeEmbed Tag Helper</b>
    <br />
    <YouTubeEmbed you-tube-id="6Fg3Aj9GzNw"></YouTubeEmbed>
    <br />
    <YouTubeEmbed you-tube-id="lbLZiHvPIKE"></YouTubeEmbed>
    <br />
    <YouTubeEmbed you-tube-id="oZi62oIOeLc"></YouTubeEmbed>
</body>
</html>

