@model WebAppTagHelper.Models.RegisterViewModel
<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <form asp-action="RegisterTHSimple">

        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />

        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />

        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />

        <input asp-for="SpecialMeal" />
        <label asp-for="SpecialMeal"></label>

        <input type="submit" value="Save" class="btn" />
    </form>
</body>
</html>
